<div class="container contact">

<!-- <h1 translate>ContactTitle</h1>
<p translate>ContacTxt</p>
<p>e-mail: <a href="mailto:jemyrazem@jemyrazem.pl">jemyrazem@jemyrazem.pl</a></p>
<p>tel: <a href="tel:+48616661047">61 666 1047</a></p> -->
<h1 translate>AboutHeader</h1>
<h3 translate>AboutTxt</h3>
<h2 translate>OurTeam</h2>

<div class="team">
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href="/PiotrPodstawski"><img src="images/piotr-podstawski.jpg" alt="Piotr Podstawski"></a>
        <h4><a href="/PiotrPodstawski">Piotr</a> | <span translate>ContactFirstTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactFirstDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/podstawski.piotr" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/+PiotrPodstawski" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href="/RoberPosiadala"><img src="images/robert-posiadala.jpg" alt="Rober Posiadała"></a>
        <h4><a href="/RoberPosiadala">Robert</a> | <span translate>ContactSecondTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactSecondDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/robert.posiadala1" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/+RobertPosiadała" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href="/MarcinSpringer"><img src="images/marcin-springer.jpg" alt="Marcin Springer"></a>
        <h4><a href="/MarcinSpringer">Marcin</a> | <span translate>ContactThirdTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactThirdDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/marcin.springer" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/+MarcinSpringer" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href="/MaxCzapski"><img src="images/max.jpg" alt="Max Czapski"></a>
        <h4><a href="/MaxCzapski">Max</a> | <span translate>ContactFourthTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactFourthDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/max.czapski" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <!-- <li><a class="google" href="https://plus.google.com/105925780679557462947/" target="_blank"><img src="images/google-contact.png" alt=""></a></li> -->
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href=""><img src="images/agnieszka-rusin.jpg" alt="Agnieszka Rusin"></a>
        <h4><a href="/AgnieszkaRusin">Agnieszka R.</a> | <span translate>ContactFifthTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactFifthDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/agnieszka.rusin1" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/114746917268015104954/posts" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href=""><img src="images/agnieszka-nieglos.jpg" alt="Agnieszka Niegłos"></a>
        <h4><a href="/AgnieszkaNieglos">Agnieszka N.</a> | <span translate>ContactSixthTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactSixthDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/anieglos" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/106302819673644578349/posts" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Person -->
    <div class="col-md-3 col-sm-3 teammate">
        <a href="/KarolHuszal"><img src="images/karol-huszal.jpg" alt="Karol Huszał"></a>
        <h4><a href="/KarolHuszal">Karol</a> | <span translate>ContactSeventhTitle</span></h4>
        <p class="whoAmI"><span translate>ContactFavoriteDish</span> <span translate>ContactSeventhDish</span></p>
        <ul>
            <li><a class="facebook" href="https://www.facebook.com/k.huszal" target="_blank"><img src="images/facebook-contact.png" alt=""></a></li></li>
            <li><a class="google" href="https://plus.google.com/+KarolHusza%C5%82/posts" target="_blank"><img src="images/google-contact.png" alt=""></a></li>
        </ul>
    </div>
    <!-- /Person -->
    
    <!-- Btn -->
    <div class="col-md-3 col-sm-3 teammate">
        <a class="join-us" href="mailto:jemyrazem@jemyrazem.pl"><i class="glyphicon glyphicon-plus"></i></a>
        <h4><a href="mailto:jemyrazem@jemyrazem.pl" translate>JoinTheDarkSide</a></h4>
    </div>
    <!-- /Btn -->
    
</div>

<div class="clearfix"></div>

<h1 translate>ContactDetails</h1>
<!--<h4 translate>ContactTitle</h4>
<p translate>ContacTxt</p>
<p>e-mail: <a href="mailto:jemyrazem@jemyrazem.pl">jemyrazem@jemyrazem.pl</a></p>
<p>tel: <a href="tel:+48616661047">61 666 1047</a></p>-->

<p class="gammanet-info"><span translate>ContactTitle</span> | <span translate>ContactTxt</span> | e-mail: <a href="mailto:jemyrazem@jemyrazem.pl">jemyrazem@jemyrazem.pl</a> | tel: <a href="tel:+48601704847">601704847</a></p>

</div>
