<!-- How it works? -->
<div id="how-it-works">
<div id="how-banner">
    <div class="container">
     <h1 translate>JemyRazem.pl</h1>
     <h2 translate>How-it-works-H2</h2>
     <h3 translate>How-it-works-H3</h3>
     
        <div class="row" ng-controller="OrganizeeventCtrl" ng-init="referer('/profile')">
         <div class="col-md-3 col-sm-3"></div>
         <div class="col-md-3 col-sm-3">
         
          <a class="google-login" ng-href="{{googleAuth}}" target="_self"><img src="images/google-icon.png" alt=""><span translate>GoogleLogin</span></a>


         </div>
         <div class="col-md-3 col-sm-3">
          <a class="facebook-login col-md-6 col-sm-6" ng-href="{{facebookAuth}}" target="_self"><img src="images/facebook-icon.png" alt=""><span translate>FacebookLogin</span></a>
         </div>
         <div class="col-md-3 col-sm-3"></div>
        </div>
    </div>
    <img src="images/how-arrow.png" class="arrow" alt="">
    <!-- <img src="images/how-it-works-banner.jpg" class="img-responsive how-banner-img" alt=""> -->
</div>

<div class="clearfix"></div>

<div id="how-main">
    <div class="container">
    <!--<h4 translate>How-it-works-H4</h4>
    <p class="lead-txt" translate>How-it-works-H4P1</p> -->
    
    <!-- Host Section -->
    <div class="host-section">
        <h5 translate>How-it-works-H5</h5>
        <div class="col-md-4 col-sm-4">
            <div class="host-img">
             <p class="step">1</p>
             <a ng-href="/profile#host" target="_self"><img src="images/host-1.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H5P1</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="host-img">
             <p class="step">2</p>
             <a ng-href="/profile#host" target="_self"><img src="images/host-2.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H5P2</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="host-img">
             <p class="step">3</p>
             <a ng-href="/profile#host" target="_self"><img src="images/host-3.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H5P3</p>
        </div>
    </div>
    <!-- Host Section -->
    
    <div class="clearfix"></div>
    
    <!-- Guest Section -->
    <div class="guest-section">
        <h5 translate>How-it-works-H51</h5>
        <div class="col-md-4 col-sm-4">
            <div class="guest-img">
             <p class="step">1</p>
             <a ng-href="/events" target="_self"><img src="images/guest-1.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H51P1</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="guest-img">
             <p class="step">2</p>
             <a ng-href="/events" target="_self"><img src="images/guest-2.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H51P2</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="guest-img">
             <p class="step">3</p>
             <a ng-href="/events" target="_self"><img src="images/guest-3.jpg" class="img-responsive" alt=""></a>
            </div>
            <p class="how-txt" translate>How-it-works-H51P3</p>
        </div>
    </div>
    <!-- /Guest Section -->
    
    <div class="clearfix"></div>
    
    
    
    <div class="row"  ng-controller="OrganizeeventCtrl" ng-init="">
         <div class="col-md-3 col-sm-3"></div>
         <div class="col-md-3 col-sm-3">
          <a class="google-login" href="{{googleAuth}}" target="_self"><img src="images/google-icon.png" alt=""><span translate>GoogleLogin</span></a>
         </div>
         <div class="col-md-3 col-sm-3">
          <a class="facebook-login col-md-6 col-sm-6" href="{{facebookAuth}}" target="_self"><img src="images/facebook-icon.png" alt=""><span translate>FacebookLogin</span></a>
         </div>
         <div class="col-md-3 col-sm-3"></div>
        </div>
    
    <h6 translate>How-it-works-H6</h6>
    
    </div>
</div>
</div>

