<div class="container tac">

<!-- <iframe ng-src="{{url}}"></iframe> -->

<h3>Regulamin konkursu “Jemy Razem”</h3>



<h3>&sect; 1. Postanowienia ogólne </h3>

<ol>
    <li>Organizatorem konkursu „Jemy Razem” (zwanego w dalszej części niniejszego Regulaminu „Konkursem”) jest Gammanet sp z o.o. z siedzibą w Poznaniu, ul. Jana Henryka Dąbrowskiego 77A, 60-529 Poznań (dalej Organizator).</li>
    <li>Konkurs nie jest loterią promocyjną w rozumieniu Art. 2 ust. 1 pkt. 9 Ustawy o grach i zakładach wzajemnych z dnia 29 lipca 1992r. (Dz. U. 04.4.27 z późn. zm.) i nie podlega regułom zawartym w w/w Ustawie oraz rozporządzeniach wykonawczych do tej Ustawy. </li>
    <li>Uczestnictwo w Konkursie jest dobrowolne. Niniejszy Regulamin (dalej Regulamin) stanowi podstawę Konkursu i określa prawa i obowiązki jego uczestników (dalej Uczestnicy).</li>
    <li>Przystępując do Konkursu Uczestnik akceptuje wszystkie zawarte w nim postanowienia.</li>
</ol>

<h3>&sect; 2. Uczestnictwo w Konkursie </h3>

<ol>
    <li>Uczestnikiem Konkursu mogą być tylko osoby fizyczne, mieszkające na terytorium Rzeczypospolitej Polskiej, które: 
     <ol type="a">
        <li>zarejestrują się w serwisie internetowym JemyRazem.pl</li>
        <li>zaakceptują warunki niniejszego Regulamiu,</li>
     </ol>
    </li>
    <li>Konkurs rozpoczyna się dnia 01.05.2015 r. o godzinie 12.00 i trwa do 31.05.2015 r. do godziny 24:00.</li>
    <li>W Konkursie nie mogą brać udziału pracownicy Organizatora.</li>
</ol>

<h3>&sect; 3. Zasady konkursu i wyłonienie zwycięzców</h3>

<ol>
    <li>Konkurs będzie pzeprowadzony i rozstrzygany w 2 kategoriach
     <ol type="a">
        <li>Najlepszy Gospodarz</li>
        <li>Najlepszy Gość</li>
     </ol>
    </li>
    <li>Zwycięzcą konkursu w kategorii “Najlepszy Gospodarz” zostanie Uczestnik, który w okresie trwania konkursu skutecznie i zgodnie z zasadami obowiązującymi w serwisie internetowym JemyRazem.pl zorganizuje największą liczbę przyjęć.</li>
    <li>Poprzez przyjęcie skutecznie zorganizowane, rozumie się takie przyjęcie, które faktycznie odbyło się w okresie trwania konkursu i na którym był obecny przynajmniej jeden gość.</li>
    <li>W przypadku gdy tą samą liczbę skutecznie zorganizowanych przyjęć w okresie trwania konkursu osiągnie więcej niż jeden Uczestnik - zwycięzcą zostanie ten Uczestnik należący do grupy potencjalnych zwycięzców, którego przyjęcie rozpoczęło się najwcześniej w okresie trwania konkursu. </li>
    <li>Zwycięzcą konkursu w kategorii “Najlepszy Gość” zostanie Uczestnik, który w okresie trwania konkursu i zgodnie z zasadami obowiązującymi w serwisie internetowym JemyRazem.pl odwiedzi największą liczbę przyjęć jako gość.</li>
    <li>W przypadku gdy tą samą liczbę przyjęć odwiedzi jako gość więcej niż jeden Uczestnik - zwycięzcą zostanie ten Uczestnik należący do grupy potencjalnych zwycięzców, który dokonał najwcześniejszej rezerwacji miejsca na przyjęciu.</li>
</ol>

<h3>&sect; 4. Nagrody w Konkursie </h3>

<ol>
    <li>Nagrodą w kategorii “Najlepszy Gospodarz” jest Voucher na warsztaty kulinarne, o wartości 150 zł do wykorzystania w Republika Słoneczna, ul. Słoneczna 19a, Poznań, zestaw produktów marki OLE! oraz roczna prenumerata magazynu SlowLife Food & Garden</li>
    <li>Nagrodą w kategorii “Najlepszy gość” jest Voucher na Rodzinny pokaz do wykorzystania w Rogalowym Muzeum Poznania, Stary Rynek 41/2, Poznań, zestaw produktów marki OLE! oraz roczna prenumerata magazynu SlowLife Food & Garden</li>
    <li>Podatek dochodowy od nagród rzeczowych pokrywa w całości Organizator Konkursu.</li>
    <li>Nagrody w postaci Voucherów są do wykorzystania w terminie 2 miesięcy od dnia zakończenia konkursu.</li>
    <li>W ciągu czternastu dni po zakończeniu Konkursu Organizator skontaktuje się ze Zwycięzcami, za pośrednictwem adresu e-mail podanego przy rejestracji do serwisu JemyRazem.pl, w celu uzyskania niezbędnych danych osobowych Zwycięzcy, danych do rozliczenia podatku oraz ustalenia sposobu przekazania nagrody.</li>
    <li>W przypadku nie dostarczenia przez Zwycięzcę wymaganych informacji w podanym terminie nagroda przepada na rzecz Organizatora.</li>
    <li>Zwycięzca Konkursu nie może przenieść prawa do nagrody na osoby trzecie. Nagroda nie podlega wymianie na gotówkę lub ekwiwalent. Nagroda nieodebrana ulega przepadkowi. </li>
</ol>

<h3>&sect; 5. Postanowienia końcowe </h3>

<ol>
    <li>Organizator nie ponosi odpowiedzialności za ewentualne nieprawidłowości w połączeniach telekomunikacyjnych, transmisji danych, funkcjonowaniu sieci Internet, nieprawidłowości w działaniu serwisu JemyRazem.pl, za przypadki udziału w Konkursie osób nieuprawnionych oraz działań mających na celu zakłócenie poprawnego funkcjonowania Serwisu.</li>
    <li>Organizator może wykluczyć z Konkursu Uczestnika w przypadku naruszenia przez niego Regulaminu. Decyzje Organizatora mają charakter ostateczny i nie podlegają zaskarżeniu.</li>
    <li>W przypadku Uczestników Konkursu, którzy nie mają pełnej zdolności do czynności prawnych, wszelkich oświadczeń woli dotyczących spełnienia warunków określonych w niniejszym Regulaminie dokonuje ich przedstawiciel ustawowy.</li>
    <li>Wszelka odpowiedzialność Organizatora ograniczona jest do wartości nagród.</li>
    <li>Prawo do składania reklamacji, co do niezgodności Konkursu z niniejszym Regulaminem, przysługuje każdemu Uczestnikowi Konkursu, w ciągu siedmiu dni od ogłoszenia wyników Konkursu, którego reklamacja dotyczy. </li>
    <li>Reklamacja powinna być złożona w formie pisemnej na adres siedziby Organizatora. </li>
    <li>Organizator rozpatrzy reklamację w ciągu dwudziestu dni roboczych od jej otrzymania oraz powiadomi o jej rozstrzygnięciu.</li>
    <li>Pisemna reklamacja powinna zawierać imię, nazwisko, dokładny adres oraz numer telefonu i adres email, czytelny podpis Uczestnika, jak również dokładny opis i powód reklamacji. Reklamacje niekompletne lub zgłoszone po upływie wyżej wymienionego terminu nie będą rozpatrywane. O wyniku reklamacji uczestnik zostanie poinformowany pocztą elektroniczną, bądź telefonicznie. Rozpatrzenie reklamacji przez Organizatora jest ostateczne, Uczestnikowi nie przysługuje prawo odwołania się od decyzji Organizatora.</li>
    <li>Wszelkie spory wynikłe z tytułu wykonania zobowiązań związanych z niniejszym Konkursem będą rozstrzygane przez Sąd właściwy według siedziby Organizatora.</li>
    <li>Zasady prowadzenia Konkursu określa wyłącznie niniejszy Regulamin, wszelkie materiały promocyjno - reklamowe mają charakter wyłącznie informacyjny.</li>
    <li>Dane osobowe zwycięzców Konkursu podlegają publicznemu ogłoszeniu, na co Uczestnik wyraża zgodę przystępując do Konkursu.</li>
    <li>Organizator Konkursu zastrzega sobie prawo do dokonania modyfikacji postanowień Regulaminu, o czym poinformuje Uczestników na stronach Serwisu.</li>
</ol>

<br><br>
</div>
