<div class="container tac">

<!-- <iframe ng-src="{{url}}"></iframe> -->

<h1>Polityka Prywatności &amp; Polityka Cookies</h1>

<p class="lead-txt">Bezpieczeństwo i prywatność naszych Użytkowników jest dla nas bardzo ważna, dlatego przykładamy największych starań by je chronić.</p>

<h2>Polityka plików Cookies</h2>

<ol>
    <li>System informatyczny JemyRazem.pl gromadzi automatycznie informacje o każdym użytkowniku odwiedzajacym strony portalu i/lub aplikację mobilną. Gromadzimy między innymi informacje na temat:
    <ol type="a">
        <li>typu urządzenia dostępowego</li>
        <li>adresu odsyłającej strony internetowej</li>
        <li>nazwy domeny i hosta dostępowego</li>
        <li>adresu IP komputera lub dostawcy usług internetowych</li>
        <li>wykorzystywanego systemu operacyjnego</li>
        <li>rodzaju i wersja wykorzystywanej przeglądarki</li>
    </ol>
    </li>
    <li>Gromadzone informacje wykorzystywane są do analizy ruchu użytkowników w obrębie serwisu, określania ich przyzwyczajeń i zainteresowań.</li>
    <li>Dla identyfikacji i rozpoznania powracających użytkowników portal JemyRazem.pl może zapisywać na urządzeniach użytkowników tzw. pliki Cookies (jeden lub kilka małych plików tekstowych).</li>
    <li>Portal JemyRazem.pl stosuje może stosować zarówno sesyjne (automatycznie usuwane po zamknięciu przeglądarki) jak i trwałe (możliwe do ręcznego usunięcia) pliki Cookies.</li>
    <li>Włączając opcję akceptacji cookies w ustawieniach przeglądarki Użytkownik wyraża zgodę na wykorzystywanie przez JemyRazem.pl plików cookies w stosunku do siebie.</li>
    <li>Nie wyrażenie zgody na wykorzytywanie plików cookies możliwe jest poprzez zablokowanie tej opcji w ustawieniach przeglądarki.</li>
    <li>Nieakceptowanie plików Cookies JemyRazem.pl przez użytkownika, może spowodować udostępnienie użytkownikowi zawartości portalu w niepełnej funkcjonalności i bez gwarancji optymalnego działania usługi.</li>
</ol>

<h2>Polityka Prywatności</h2>

<h3>&sect; 1. Gromadzenie i przetwarzanie danych</h3>

<ol>
    <li>Administratorem danych osobowych jest Gammanet Sp. z o.o., ul. Dąbrowskiego 77a, 60-529 Poznań, NIP 7811686621, REGON 634166416, wpisana do Krajowego Rejestru Sądowego, prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu, Wydział VIII Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS: 0000002758 zwany dalej Gammanet.</li>
    <li>Gammanet przetwarza dane osobowe użytkowników zgodnie z przepisami ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (t. jedn. Dz.U. z 2002 r., nr 101, poz. 926 ze zm.) oraz ustawy z dnia 18 lipca 2002 roku o świadczeniu usług drogą elektroniczną (Dz.U. nr 144, poz. 1204 ze zm.).</li>
    <li>Użyty w niniejszej Polityce Prywatności termin „gromadzenie i przetwarzanie danych” obejmuje zarówno wykorzystanie plików cookies na komputerze użytkownika i osób odwiedzających portal JemyRazem.pl, jak i gromadzenie oraz przetwarzanie danych w celach statystycznych, a także pozostałe sposoby przetwarzania danych, w szczególności zbieranie, utrwalanie, przechowywanie, opracowywanie, zmienianie, udostępnianie i usuwanie w związku ze świadczeniem usług portalu JemyRazem.pl.</li>
    <li>Udostępnianie danych osobowych w związku z korzystaniem z Portalu JemyRazem.pl jest dobrowolne.</li>
    <li>Użytkownik przyjmuje do wiadomości, że odmowa udostępnienia określonych danych może wiązać się z niemożliwością korzystania z części lub wszystkich funkcjonalności Portalu.</li>
</ol>

<h3>&sect; 2. Zakres przetwarzanych danych</h3>

<ol>
    <li>Gammanet przetwarza dane osobowe Użytkowników w związku ze świadczeniem na ich rzecz usług portalu JemyRazem.pl</li>
    <li>Zakres przetwarzanych danych osobowych obejmuje w szczególności: imię i nazwisko, dane adresowe, adres e-mail, numer telefonu, kraj, strefa czasowa, informacje niezbędne do dokonywania płatności oraz wszelkie dane osobowe udostępniane przez samych Użytkowników w ramach funkcjonalności portalu JemyRazem.pl.</li>
    <li>Gammanet zapewnia Użytkownikom realizację uprawnień wynikających z ustawy z dnia 29 sierpnia 1997 roku o ochronie danych osobowych (t. jedn. Dz.U. z 2002 r., nr 101, poz. 926 ze zm.), w szczególności prawo wglądu do własnych danych, prawo żądania aktualizacji i usunięcia danych oraz prawo wniesienia sprzeciwu.</li>
    <li>Użytkownik ma prawo wglądu do przetwarzanych danych w każdym czasie, jak również prawo do ich poprawiania oraz żądania ich usunięcia. Żądanie usunięcia wszelkich danych osobowych Użytkownika może wiązać się z koniecznością wyłączenia dostępu do jego konta.</li>
    <li>Po usunięciu konta użytkownika, Gammanet zobowiązany jest do przechowywania danych w okresie nie krótszym niż 90 dni. W takim przypadku przetwarzanie danych osobowych obejmować będzie wyłącznie ich przechowywanie z wyłączeniem wykonywania jakichkolwiek innych operacji na tych danych.</li>
</ol>

<h3>&sect; 3. Udostępnienie danych w przypadku naruszenia prawa</h3>

<ol>
    <li>Dane gromadzone i przetwarzane przez Gammanet mogą być udostępniane podmiotom upoważnionym na podstawie obowiązujących przepisów prawa w przypadku gdy, takie ujawnienie jest niezbędne dla:
     <ol type="a">
        <li>ochrony praw Gammanet lub osób trzecich,</li>
        <li>ochrony bezpieczeństwa publicznego lub innych osób,</li>
        <li>zapobiegnięcia lub powstrzymania działań o charakterze nieetycznym lub obraźliwym,</li>
        <li>we wszelkich innych przypadkach wymaganych prawem, w szczególności w przypadkach podejrzenia popełnienia czynu zabronionego lub naruszenia praw własności intelektualnej lub przemysłowej.</li>
     </ol>
    </li>    
</ol>

<h3>&sect; 4. Niezamówiona informacja handlowa</h3>

<ol>
    <li>Gammanet zastrzega sobie prawo do wysyłania użytkownikom niezamówionych wiadomości. Zalicza się do nich informacje odnoszące się bezpośrednio do usług udostępnianych na portalu JemyRazem.pl i jego funkcjonowania.</li>
    <li>Użytkownik ma prawo zastrzec, że nie wyraża zgody na otrzymywanie tego rodzaju informacji.</li>
</ol>

<h3>&sect; 5. Postanowienia końcowe</h3>

<ol>
    <li>Korzystając z portalu JemyRazem.pl użytkownik wyraża zgodę na postanowienia zawarte w niniejszej Polityce Prywatności.</li>
    <li>Gammanet zastrzega sobie prawo wprowadzania zmian lub uzupełnień do niniejszej Polityki Prywatności.</li>
</ol>

</div>
