<div class="container tac">

<!-- <iframe ng-src="{{url}}"></iframe> -->

<p class="lead-txt">
    JemyRazem.pl łączy pasjonatów gotowania i dobrego jedzenia. Za naszym pośrednictwem zostaniesz Gospodarzem i zorganizujesz wspaniałe przyjęcie. Zapraszając gości do swojego domu, poznasz nowych, ciekawych ludzi o podobnych zainteresowaniach. Ty również możesz zostać Gościem i doceniając kunszt Gospodarza delektować się nowymi smakami. W obu przypadkach będziecie się świetnie bawić w doborowym towarzystwie społeczności JemyRazem.
</p>

<h3>Regulamin Portalu JemyRazem.pl</h3>

<p>Regulamin określa zasady korzystania z portalu JemyRazem.pl prowadzonego przez firmę Gammanet Sp. z o.o., ul. Dąbrowskiego 77a, 60-529 Poznań, NIP 7811686621, REGON 634166416, wpisaną do Krajowego Rejestru Sądowego, prowadzonego przez Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu, Wydział VIII Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS: 0000002758. Kapitał zakładowy 50.000 PLN w całości wpłacony.</p>

<h3>&sect; 1. Definicje</h3>

<ol>
    <li><strong>Portal</strong> - zbiór stron internetowych (serwis internetowy) dostępny pod adresem www.jemyrazem.pl wraz z systemem informatycznym działającym online w modelu SaaS.</li>
    <li><strong>Regulamin</strong> - Regulamin Użytkowania portalu JemyRazem.pl</li>
    <li><strong>Polityka Prywatności</strong> - zasady zbierania i przetwarzania przez Usługodawcę danych osobowych Użytkowników, stanowiące odrębny dokument.</li>
    <li><strong>Usługodawca</strong> - Gammanet sp. z o.o.,  ul. Dąbrowskiego 77a, 60-529 Poznań, NIP 7811686621</li>
    <li><strong>Usługa Portalu</strong> - wszelkie dostępne dla Użytkowników funkcjonalności Portalu, w szczególności usługa polegająca na kojarzeniu osób o wspólnych zainteresowaniach kulinarnych, umożliwienie i ułatwienie im zorganizowania fizycznego spotkania.</li>
    <li><strong>Konto użytkownika</strong> - funkcjonalności oraz zasoby udostępnione i przypisane Użytkownikowi w ramach Portalu.</li>
    <li><strong>Umowa</strong> - umowa o świadczenie usług drogą elektroniczną przy wykorzystaniu Portalu, którą Użytkownik zawiera z Usługodawcą poprzez akceptację warunków określonych niniejszym Regulaminem.</li>
    <li><strong>Umowa przyjęcia</strong> - umowa zawierana przez Gospodarza i Gościa poprzez wystawienie przez Gospodarza swojej oferty oraz dokonanie przez Gościa jej rezerwacji o opłacenia.</li>
    <li><strong>Internauta</strong> - osoba korzystająca z sieci Internet lub przeglądająca treść Portalu bez zalogowania.</li>
    <li><strong>Przyjęcie</strong> - spotkanie towarzyskie organizowane przez Gospodarza na rzecz Gości, w czasie którego Gospodarz zapewnia i serwuje Gościom posiłek.</li>
    <li><strong>Warunki Przyjęcia</strong> - Każde Przyjęcie odbywa się na określonych przez Gosopdarza warunkach określających: lokalizację, termin przyjęcia, cena, menu oraz ilość dostępnych miejsc.</li>
    <li><strong>Gospodarz</strong> - Użytkownik organizujący Przyjęcie i zapraszający na nie Gości.</li>
    <li><strong>Gość</strong> - Użytkownik, który dokonał skutecznej Rezerwacji miejsca na przyjęciu u Gospodarza, a także osoby towarzyszące mu na Przyjęciu, które nie są Użytkownikami Portalu.</li>
    <li><strong>Użytkownik</strong> - Gospodarz lub Gość w myśl wyżej przyjętych definicji.</li>
    <li><strong>Rezerwacja</strong> - dokonane przez Gościa elektroniczne zgłoszenie chęci uczestnictwa w Przyjęciu, będące jednocześnie akceptacją Warunków Przyjęcia (lokalizacja, termin, Opłata Rezerwacyjna menu, ilość dostępnych miejsc).</li>
    <li><strong>Lokalizacja</strong> - adres pod którym odbywa się przyjęcie organizowane przez Gospodarza.</li>
    <li><strong>Termin</strong> - data i godzina rozpoczęcia przyjęcia organizowanego przez Gospodarza.</li>
    <li><strong>Menu</strong> - możliwie szczegółowy opis i prezentacja potraw serwowanych przez Gospodarza podczas Przyjęcia.</li>
    <li><strong>Ilość dostępnych miejsc</strong> - określia minimalną i maksymalną liczbę Gości, jaką Gosopdarz przewiduje na organizowanym Przyjęciu.</li>
    <li><strong>Cena</strong> - określona przez Gospodarza kwota, którą Gość zobowiązuje się wpłacić z tytułu pokrycia kosztów organizacji Przyjęcia i uczestnictwa w nim.</li>
    <li><strong>Prowizja finansowa</strong> - wszelkie opłaty dodatkowe takie jak opłaty bankowe, prowizje operatorów finansowych, operatorów kart płatniczych, opłaty za przewalutowanie itp. pobierane przez pośredników finansowych, banki i systemy płatnicze pośredniczące przy realizacji płatności.</li>
    <li><strong>Opłata Rezerwacyjna</strong> - suma Ceny i Prowizji.</li>
    <li><strong>Prywatna Wiadomość</strong> - wiadomość przekazywana w formie elektronicznej pomiędzy Użytkownikami, Gospodarzami, Gośćmi czy Usługodawcą za pośrednictwem systemów informatycznych Portalu.</li>
    <li><strong>Odrzucenie Rezerwacji (Gospodarz)</strong> - Prywatna Wiadomość przekazywana przez Gospodarza do Gościa informująca o fakcie nie przyjęcia Rezerwacji Gościa na organizowanym przez Gospodarza Przyjęciu.</li>
    <li><strong>Odwołanie Rezerwacji (Gość)</strong> - Prywatna Wiadomość przekazywana przez Gościa do Gospodarza o fakcie odwołania Rezerwacji Gościa na organizowanym przez Gospodarza Przyjęciu.</li>
    <li><strong>Termin bezkosztowego odwołania rezerwacji</strong> - termin określany przez Gospodarza przyjęcia, przed upływem którego Goście mogą odwołać swoją rezerwację bez ponoszenia kosztów. Domyślnie określony na 48 godzin przed terminem rozpoczęcia przyjęcia.</li>
</ol>

<h3>&sect; 2. Rodzaj i zakres usługi</h3>

<ol>
    <li>Przedmiotem usługi świadczonej drogą elektroniczną przez Usługodawcę jest pośrednictwo w zawieraniu umów o organizację przyjęć pomiędzy Gospodarzem a Gościem.</li>
</ol>

<h3>&sect; 3. Rejestracja w serwisie</h3>

<ol>
    <li>Użytkownikami mogą być jedynie osoby fizyczne, które ukończyły 18 lat i posiadają pełną zdolność do czynności prawnych.</li>
    <li>Rejestrując się w Portalu, Użytkownik potwierdza że ma ukończone 18 lat i że akceptuje Regulamin oraz Politykę Prywatności Portalu. Jeśli nie masz ukończonych 18 lat nie możesz rejestrować się w serwisie ani podawać w nim żadnych swoich danych osobowych, ani też danych osobowych innych osób.</li>
    <li>Użytkownikiem Portalu może zostać osoba, która zarejestruje się, wypełniając formularz rejestracyjny, bądź dokona aktywacji Konta Użytkownika za pomocą własnego konta użytkownika zarejestrowanego w serwisach internetowych takich jak Facebook czy Google+.</li>
    <li>Rejestrując się do Portalu za pomocą kont serwisów społecznościowych (Facebook, Google+) Użytkownik przyznaje Portalowi prawo do wykorzystania informacji o Użytkowniku przechowywanych w tych serwisach społecznościowych.</li>
    <li>Rejestrując się w Portalu, Użytkownik zobowiązuje się podać tylko prawdziwe informacje o sobie i bierze pełną odpowiedzialność za zamieszczane przez siebie w portalu informacje, komentarze, zdjęcia itp.</li>
    <li>W każdej chwili, Użytkownik ma możliwość zmiany, edycji, dodania czy usunięcia swoich danych. Jednocześnie Użytkownik przyjmuje do wiadomości i zgadza się, że dane zawarte w profilu Użytkownika i oznaczone jako “dane publiczne” będą dostępne dla innych Użytkowników Portalu, a także dla każdego Internauty.</li>
    <li>Usługodawca przykłada ogromną wagę do tego, by zapewnić Użytkownikom najwyższą jakość usług, z których korzystają na łamach Portalu. Jednocześnie, z uwagi na to, że nie możemy w pełni gwarantować rzetelności usług realizowanych przez poszczególnych Gospodarzy, każdy Użytkownik serwisu zobowiązany jest dla swojej wygody, bezpieczeństwa, jakości oraz komfortu otrzymanej usługi samodzielnie sprawdzić wszelkie niezbędne szczegóły związane z Przyjęciem, w którym zamierza uczestniczyć. W szczególności chodzi tutaj o profil Gospodarza, profile Gości, datę i miejsce Przyjęcia, koszt rezerwacji i inne detale.</li>    
</ol>

<h3>&sect; 4. Rezerwacje i płatności</h3>

<ol>
    <li>Każdy zarejestrowany Użytkownik Portalu może dokonać Rezerwacji miejsca na Przyjęciu. W chwili dokonania skutecznej Rezerwacji Użytkownik nabywa status Gościa w ramach Przyjęcia, w którym będzie uczestniczyć.</li>
    <li>Dokonując Rezerwacji, Gość określa ilość rezerwowanych miejsc na Przyjęciu oraz wybiera jedną z dostępnych form płatności i za jej pomocą uiszcza Opłatę Rezerwacyjną. Podczas procesu Rezerwacji Gość może dodatkowo wysłać do Gospodarza Prywatną Wiadomość.</li>
    <li>Opłata Rezerwacyjna pobrana od Gościa jest zatrzymywana na koncie Usługodawcy, a Cena określona przez Gospodarza jest przekazywana na konto Gospodarza w ciągu 24 godzin od daty organizacji Przyjęcia, pod warunkiem, że wcześniej nie nastąpiło Odwołanie Rezerwacji przez Gościa lub Odrzucenie Rezerwacji przez Gospodarza. W takim przypadku Opłata Rezerwacyjna jest zwracana na konto bankowe Gościa zgodnie z warunkami opisanymi w punkcie “Odwołanie i odrzucenie rezerwacji”.</li>
</ol>

<h3>&sect; 5. Odwołanie i odrzucenie rezerwacji</h3>

<ol>
    <li>Gospodarz, przy każdej nowej Rezerwacji na swoje Przyjęcie otrzymuje informację o Gościu wraz z linkiem do profilu Gościa na Portalu. Dla swojej wygody, bezpieczeństwa i komfortu Gospodarz powinien zapoznać się z informacjami o Gościu. W każdym przypadku Gospodarz może Odrzucić Rezerwację bez podania przyczyny.</li>
    <li>W przypadku Odrzucenia Rezerwacji przez Gospodarza Opłata Rezerwacyjna jest zwracana na konto bankowe Gościa w pełnej wysokości.</li>
    <li>W przypadku Odwołania Rezerwacji przez Gościa Opłata Rezerwacyjna będzie zwracana na konto Gościa według następujących zasad:
     <ol type="a">
        <li>Jeśli Rezerwacja jest odwołana przez Gościa przed terminem określonym jako Termin bezkosztowego odwołania rezerwacji zwracana będzie Opłata Rezerwacyjna pomniejszona o Prowizję finansową, którą Usługodawca musi ponieść w związku z przyjęciem i zwrotem Opłaty Rezerwacyjnej.</li>
        <li>Jeśli Rezerwacja jest odwołana przez Gościa po terminie określonym jako Termin bezkosztowego odwołania rezerwacji - Opłata Rezerwacyjna nie jest zwracana.</li>
     </ol>
    </li>
    <li>Skuteczne Odwołanie lub Odrzucenie Rezerwacji może być zrealizowane tylko i wyłącznie za pośrednictwem Systemów Informatycznych Portalu w drodze Prywatnej Wiadomości.</li>
    <li>Usługodawca zastrzega sobie jednocześnie prawo do Odwołania Rezerwacji Gościa w każdym czasie bez podania przyczyny. W takim przypadku każdorazowo Usługodawca zwróci na konto Gościa pełną Opłatę Rezerwacyjną.</li>
    <li>W przypadku gdy Gospodarz dokona Odrzucenia Rezerwacji Gościa Usługodawca zwróci na konto Gościa pełną Opłatę Rezerwacyjną dokonaną przez Gościa. Jednocześnie Usługodawca zastrzega sobie prawo obciążenia Gospodarza kosztami Prowizji finansowej, którą Usługodawca musi ponieść w związku z przyjęciem i zwrotem Opłaty Rezerwacyjnej.</li>
    <li>Usługodawca nie ponosi odpowiedzialności i nie zwraca jakichkolwiek kosztów, wydatków, strat lub szkód, jakie może ponieść lub poniósł Gospodarz w wyniku odwołania Przyjęcia lub Odrzucenia Rezerwacji Gości.</li>
    <li>Dodatkowo Usługodawca w celu zapewnienia najwyższej jakości usług zastrzega sobie prawo do obciążenia Gospodarza kwotą równą sumie Opłat Rezerwacyjnych jakie otrzymał Gospodarz za zorganizowanie Przyjęcia, jeśli po Przyjęciu Goście złożą skargę do Usługodawcy na Gospodarza, a Usługodawca stwierdzi według własnego uznania, że Przyjęcie nie było zgodne z normami obowiązującymi na Portalu.</li>
</ol>

<h3>&sect; 6. Cena</h3>

<ol>
    <li>Zamiarem Portalu jest łączenie osób o wspólnych zainteresowaniach, ułatwienie im spotkania się i nawiązania znajomości. Spotkania organizowane są w miejscach wskazanych przez Gospodarzy - często w prywatnych mieszkaniach.</li>
    <li>Cena ma na celu pokrycie kosztów zakupu składników do przygotowania przyjęcia, tak by Gospodarz nie był obciążony nadmiernymi wydatkami związanymi z jego organizacją.</li>
    <li>Gospodarz ustala Cenę w dowolny, przyjęty przez siebie sposób i informuje o wysokości Ceny potencjalnych Gości.</li>
    <li>W przypadku gdy, w myśl odpowiednich przepisów prawa Gospodarz prowadzi działalność gospodarczą i wartość Ceny jest dla Gospodarza źródłem dochodów Gospodarz zobowiązany jest do samodzielnego rozliczania się z ewentualnych podatków w tym zakresie według odpowiednich, obowiązujących przepisów prawa.</li>
</ol>

<h3>&sect; 7. Wysokość i sposób naliczania prowizji</h3>

<ol>
    <li>Z tytułu świadczenia Usług Portalu, Usługodawca powiększa Cenę określoną przez Gospodarza o prowizję finansową w wysokości:
     <ol type="a">
        <li>dla Ceny 0 PLN Prowizja finansowa wynosi 0 PLN</li>
        <li>dla Ceny większej od 0 PLN i nie większej niż 29 PLN prowizja finansowa wynosi 2 PLN</li>
        <li>dla Ceny równej i większej niż 30 PLN prowizja finansowa wynosi 7% Ceny</li>
     </ol>
    </li>
    <li>Usługodawca zastrzega sobie prawo stosowania niższych niż wyżej wymienione stawek Prowizji w przypadku wszelkiego rodzaju akcji promocyjnych i ofert specjalnych kierowanych do Użytkowników Portalu.</li>
    <li>Z Prowizji Usługodawcy pokrywane są wszelkie opłaty związane z Prowizją finansową.</li>
    <li>Użytkownikom Portalu prezentowana jest Opłata Rezerwacyjna stanowiąca sumę Ceny i Prowizji.</li>
</ol>

<h3>&sect; 8. Polityka prywatności</h3>

<ol>
    <li>Szanujemy Twoją prywatność i dokładamy wszelkich starań by chronić dane, które powierzasz Usługodawcy.</li>
    <li>Użytkownik w każdej chwili ma prawo i możliwość wglądu, edycji i usunięcia swoich danych z zasobów Portalu.</li>
    <li>W celu zapewnienia maksymalnej ochrony, komfortu i wygody Gospodarza dane Gości są udostępniane Gospodarzowi Przyjęcia w chwili dokonania przez nich Rezerwacji.</li>
    <li>Szczególnie starannie chronimy dane związane z miejscem zamieszkania Gospodarza. W tym celu, w opisie każdego Przyjęcia podajemy tylko przybliżoną jego lokalizację. Tylko Goście, którzy wniosą Opłatę Rezerwacyjną są informowaniu o dokładnym adresie i lokalizacji Przyjęcia.</li>
</ol>

<h3>&sect; 9. Niedozwolone wykorzystanie</h3>

<ol>
    <li>Użytkownik korzystający z Portalu zobowiązuje się do przestrzegania niniejszego Regulaminu oraz powstrzymania się od działań niedozwolonych, w szczególności:
     <ol type="a">
        <li>Użytkowania Portalu niezgodnie z prawem.</li>
        <li>Użytkownia Portalu do działań w jakiejkolwiek formie wyczerpujących znamiona Sampowania Internetu lub innych Użytkowników.</li>
        <li>Przyznania dostępu do swojego konta Użytkownika jekiejkolwiek osobie trzeciej, w szczególności osobom poniżej 18 roku zycia.</li>
        <li>Wykorzystania systemów informatycznych Portalu niezgodnie z jego założeniami i przeznaczeniem.</li>
        <li>Podszywania się pod innych Użytkowników.</li>
        <li>Wprowadzania w błąd innych Użytkowników Portalu.</li>
        <li>Publikowania lub przesyłania na łamach Portalu lub za pośrednictwem systemów informatycznych Portalu jakichkolwiek treści obraźliwych, wulgarnych, rasistowskich, obscenicznych, pornograficznych, religijnych lub innych mogących naruszać dobre imię i dobra osobiste innych Użytkowników lub osób trzecich.</li>
        <li>Zamieszczać lub przesyłać za pomocą systemów informatycznych Portalu treści, zdjęcia, utwory, których prawa dysponowania Użytkownik posiada.</li>
        <li>Kopiować, modyfikować, adaptować, tłumaczyć jakiejkolwiek części lub całości Portalu lub systemów informatycznych Portalu bez porozumienia i zgody Usługodawcy.</li>
        <li>Publikowania za pośrednictwem portalu zdjęć, treści, materiałów multimedialnych do których Użytkownik nie posiada praw, a w przypadku zamieszczania utrwalonego wizerunku osób trzecich bez posiadania zgody tych osób na wykorzystanie ich wizerunku.</li>
        <li>Określanie Warunków Przyjęcia i manipulowanie opisem Przyjęcia mające na celu uniknięcie naliczenia Prowizji Usługodawcy.</li>
     </ol>
    </li>
</ol>

<h3>&sect; 10. Linkowanie i odsyłacze do stron trzecich</h3>

<ol>
    <li>Portal może zawierać linki i odsyłacze do innych niż Portal stron internetowych, jednakże Usługodawca nie odpowiada za jakość i rzetelność informacji zamieszczonych pod adresami, do których odsyłają te linki.</li>
    <li>Usługodawca zastrzega sobie jednocześnie prawo do zamieszczania na Portalu reklam i linków sponsorowanych.</li>
</ol>

<h3>&sect; 11. Ograniczenie odpowiedzialności</h3>

<ol>
    <li>Korzystanie z Portalu, organizowanie Przyjęć i uczestniczenie w nich jako Gość realizowane jest na wyłączną odpowiedzialność Użytkownika. Usługodawca nie ponosi odpowiedzialności za jakiekolwiek szkody, straty, dzialania Użytkowników lub osób trzecich powstałe w wyniku lub związku z korzystaniem przez Użytkownika z Portalu.</li>
    <li>Usługodawca nie ponosi odpowiedzialności za zachowania Użytkowników w ramach portalu ani za nienależyte wykonanie bądź niewykonanie przez nich umów zawartych w ramach Umowy Przyjęcia, jak również nie ponosi odpowiedzialności za następstwa działań podjętych przez Użytkowników oraz osoby trzecie, a stanowiących naruszenie postanowień Regulaminu. Usługodawcaw szczególności nie ponosi odpowiedzialności za jakość Przyjęcia, bezpieczeństwo Gości podczas Przyjęcia lub prawdziwość i rzetelność informacji podawanych przez Organiezatorów i Gości, zdolność Gospodarzy i Gości do wykonania umowy.</li>
</ol>

<h3>&sect; 12. Zmiany wyglądu i funkcjonalności</h3>

<ol>
    <li>Usługodawca zastrzega sobie prawo do wprowadzania okresowych zmian w wygladzie i funkcjonalności Portalu bez wcześniejszego informowania Użytkownika. Użytkownik akceptując niniejszy Regulamin zgadza się na to i przyjmuje do wiadomosci że Usługodawca nie jest odpowiedzialany za jakiekolwiek błędy lub usterki związane z niemożliwoscią czasowego dostępu do Portalu.</li>
</ol>

<h3>&sect; 13. Wymagania techniczne niezbędne do współpracy z systemem teleinformatycznym Usługodawcy</h3>

<ol>
    <li>Usługodawca dokłada starań, by korzystanie z Portalu było możliwe dla Użytkowników wszystkich popularnych przeglądarek internetowych i systemów operacyjnych. Usługodawca nie gwarantuje i nie odpowiada za to, że każda kombinacja tych elementów umożliwia korzystanie z Portalu w pełnej funkcjonalności.</li>
    <li>Minimalne wymagania techniczne umożliwiające Użytkownikowi korzystanie z Portalu, to przeglądarka internetowa (IE 11.0 lub wyższe albo przeglądarka oparta na silniku Mozilla 1.0 lub wyższych).</li>
</ol>

<h3>&sect; 14. Postępowanie reklamacyjne</h3>

<ol>
    <li>Prawo do składania reklamacji, co do niezgodności Usługi Portalu z niniejszym Regulaminem, przysługuje każdemu Użytkownikowi, w ciągu 14 dni od chwili uzyskania informacji o istnieniu takiej niezgodności, nie później jednak niż po upływie 365 dni od daty rejestracji Użytkownika w Portalu.</li>
    <li>Reklamacja powinna być złożona w formie pisemnej na adres siedziby Usługodawcy.</li>
    <li>Usługodawca rozpatrzy reklamację w ciągu dwudziestu dni roboczych od jej otrzymania oraz powiadomi o jej rozstrzygnięciu.</li>
    <li>Pisemna reklamacja powinna zawierać imię, nazwisko, dokładny adres oraz numer telefonu i adres email, czytelny podpis Użytkownika, jak również dokładny opis i powód reklamacji. Reklamacje niekompletne lub zgłoszone po upływie wyżej wymienionego terminu nie będą rozpatrywane. O wyniku reklamacji Użytkownik zostanie poinformowany pocztą elektroniczną, bądź telefonicznie. Rozpatrzenie reklamacji przez Usługodawcę jest ostateczne, Użytkownikowi nie przysługuje prawo odwołania się od decyzji Usługodawcy.</li>
</ol>

</div>
