    <!-- Event Content -->
    <div class="event-content">
        <!-- Event Content Left Sidebar Unpubished -->
        <div class="col-md-3 col-sm-3 event-sidebar" ng-if="!event.active">


            <!-- Event Date -->
            <h6 translate>EventDate</h6>
            <div class="input-group">
                <span type="text" class="form-control" datepicker-popup="{{format}}" ng-change="startDateChanged()" ng-model="event.event_start" is-open="start_opened" min-date="minDate" max-date="'2020-12-31'" datepicker-local-date datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="{{'CalClose'|translate}}" clear-text="{{'CalClear'|translate}}" current-text="{{'CalToday'|translate}}" placeholder="{{'Start date'|translate}}">{{event.event_start | date: 'dd-MM-yyyy'}} </span>

                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openstart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <!-- /Event Date -->

            <div class="clearfix spacer"></div>

            <!-- Event Time -->
            <div class="col-md-6 col-sm-6 left">
                <div class="input-group">
                    <h6 translate>EventTime</h6>
                    <timepicker ng-change="timeChanged()" ng-model="event.event_start" hour-step="1" minute-step="5" show-meridian="0" readonly-input="0" tabindex="10"></timepicker>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 right">
                <div class="input-group">
                    <h6 translate>EventDuration</h6>
                    <select tabindex="11" class="form-control move-down" ng-model="event.duration" ng-options="elem.id as elem.name for elem in durationData" ng-init="event.duration = event.duration || 3600">
                    </select>
                </div>
            </div>
            <!-- /Event Time -->

            <div class="clearfix spacer"></div>

            <!-- Min/Max Guests -->
            <div class="col-md-6 col-sm-6 left">
                <div class="input-group">
                    <h6 translate>MinGuests</h6>
                    <select tabindex="12" class="form-control" ng-model="event.min_guests" ng-options="id for id in [1,2,3,4,5,6,7,8,9,10]" ng-init="event.min_guests = event.min_guests || 1">
                    </select>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 right">
                <div class="input-group">
                    <h6 translate>MaxGuests</h6>
                    <select tabindex="13" class="form-control" ng-model="event.max_guests" ng-options="id for id in [1,2,3,4,5,6,7,8,9,10]" ng-init="event.max_guests = event.max_guests || 2">
                    </select>
                </div>
            </div>
            <!-- /Min/Max Guests -->

            <div class="clearfix line"></div>

            <!-- Local info -->
            <div class="input-group check">
                <input tabindex="14" type="radio" ng-model="event.restaurant" ng-value="0">
                <p class="radio-info" translate>EventPrivateApartment</p>
                <input tabindex="15" type="radio" ng-model="event.restaurant" ng-value="1">
                <p class="radio-info" translate>EventPublicPlace</p>
            </div>
            <!-- /Local info -->

            <div class="clearfix line"></div>

            <!-- Tags -->
            <a class="tags-btn btn btn-default" data-toggle="collapse" data-target="#tags-btn" aria-expanded="false" aria-controls="tags-btn" translate>Tags</a>

            <div class="tags collapse" id="tags-btn">
                <button type="button" class="btn btn-success" ng-model="tag.selected" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-repeat="tag in event.tags">
                    {{tag.name}}
                </button>
            </div>
            <!-- /Tags -->

            <div class="clearfix line"></div>

            <!-- Price -->
            <div class="input-group">
                <h6 translate>EventPrice</h6>
                <input tabindex="16" type="number" ng-model="event.price" placeholder="{{'Price'|translate}}" class="form-control" ng-required="true" ng-init="event.price = event.price || 0">
            </div>
            <!-- /Price -->

            <div class="clearfix spacer"></div>

            <!-- More Settings -->
            <div collapse="isCollapsed" id="more-settings-btn">

                <h6 translate>EventDeadline</h6>
                <h7 translate>EventDeadlineInfo</h7>
                <div class="input-group">
                    <span type="text" class="form-control" datepicker-popup="{{format}}" ng-change="startDateChanged()" ng-model="event.deadline" is-open="end_opened" min-date="minDate" max-date="'2020-12-31'" datepicker-local-date datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="{{'CalClose'|translate}}" clear-text="{{'CalClear'|translate}}" current-text="{{'CalToday'|translate}}" placeholder="{{'Deadline'|translate}}">{{event.deadline | date: 'dd-MM-yyyy'}} </span>

                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openend($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </div>

                <div class="input-group col-md-3">
                    <timepicker ng-change="" ng-model="event.deadline" hour-step="1" minute-step="5" show-meridian="0" readonly-input="0"></timepicker>
                </div>

                <div class="input-group form-group">
                    <h6 translate>EventURL</h6>
                    <h7 translate>EventURLInfo</h7>
                    <div class="input-group event-url">
                        <a title="www.{{'jemyrazem.pl' | translate}}/{{event.host_url}}">http://...</a>
                        <input tabindex="18" type="text" ng-model="event.url" placeholder="{{'Event url'|translate}}" class="form-control">
                    </div>
                </div>


                <form ng-submit="" role="form" name="formEvent" novalidate>

                    <div class="input-group">
                        <h6 translate>EventUnlisted</h6>
                        <h7 translate>EventUnlistedInfo</h7>

                        <div class="input-group event-listed">
                            <input tabindex="19" type="checkbox" ng-model="event.unlisted" ng-true-value="1" ng-false-value="0">
                            <p translate>Unlisted</p>
                        </div>

                    </div>

                </form>
            </div>

            <a class="more-less-btn" ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed"><span translate>MoreOptions</span><span class="glyphicon glyphicon-chevron-down"></span></a>
            <a class="more-less-btn" ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed"><span translate>LessOptions</span><span class="glyphicon glyphicon-chevron-up"></span></a>


            <!-- /More Settings -->
        </div>
        <!-- /Event Content Left Sidebar Unpublished -->

        <!-- Event Content Left Sidebar Pubished -->
        <div class="col-md-3 col-sm-3 event-sidebar" ng-if="event.active">


            <!-- Event Date -->
            <h6 translate>EventDate</h6>
            <div class="input-group">
                <h4 type="text">{{event.event_start| date: 'yyyy-MM-dd'}}</h4>

            </div>
            <!-- /Event Date -->

            <div class="clearfix spacer"></div>

            <!-- Event Time -->
            <div class="col-md-7 col-sm-7 left event-time">
                <div class="input-group">
                    <h6 translate>EventTime</h6>
                    <h4>{{event.event_start | date: 'HH:mm'}}</h4>
                </div>
            </div>

            <div class="col-md-5 col-sm-5 right event-duration">
                <div class="input-group">
                    <h6 translate>EventDuration</h6>
                    <h4>{{event.duration/3600}}</h4>

                </div>
            </div>
            <!-- /Event Time -->

            <div class="clearfix spacer"></div>

            <!-- Min/Max Guests -->
            <div class="col-md-6 col-sm-6 left">
                <div class="input-group">
                    <h6 translate>MinGuests</h6>
                    <h4>{{event.min_guests}}</h4>

                </div>
            </div>



            <div class="col-md-6 col-sm-6 right">
                <div class="input-group">
                    <h6 translate>MaxGuests</h6>
                    <h4>{{event.max_guests}}</h4>
                </div>
            </div>
            <!-- /Min/Max Guests -->

            <div class="clearfix spacer"></div>

            <!-- Price -->
            <div class="input-group">
                <h6 translate>EventPrice</h6>
                <h4>{{event.price}}</h4>
            </div>
            <!-- /Price -->

            <div class="clearfix line"></div>

            <!-- Local info -->
            <div class="input-group check">
                <input type="radio" ng-model="event.restaurant" ng-value="0">
                <p class="radio-info" translate>EventPrivateApartment</p>
                <input type="radio" ng-model="event.restaurant" ng-value="1">
                <p class="radio-info" translate>EventPublicPlace</p>
            </div>
            <!-- /Local info -->

            <div class="clearfix line"></div>

            <!-- Tags -->
            <a class="tags-btn btn btn-default" data-toggle="collapse" data-target="#tags-btn" aria-expanded="false" aria-controls="tags-btn" translate>Tags</a>

            <div class="tags collapse" id="tags-btn">
                <button type="button" class="btn btn-success" ng-model="tag.selected" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-repeat="tag in event.tags">
                    {{tag.name}}
                </button>
            </div>
            <!-- /Tags -->

            <div class="clearfix spacer"></div>

            <!-- More Settings -->
            <div collapse="isCollapsed" class="collapse" id="more-settings-btn">

                <h6 translate>EventDeadline</h6>
                <h7 translate>EventDeadlineInfo</h7>
                <div class="input-group">
                    <h4>{{event.deadline | date: 'dd-MM-yyyy'}} {{event.deadline | date: 'HH:mm'}}</h4>
                </div>


                <div class="input-group form-group">
                    <h6 translate>EventURL</h6>
                    <h7 translate>EventURLInfo</h7>
                    <div class="input-group event-url">
                        <a title="www.{{'jemyrazem.pl' | translate}}/{{event.host_url}}">http://...</a>
                        <input type="text" ng-model="event.url" placeholder="{{'Event url'|translate}}" class="form-control">
                    </div>
                </div>


                <form ng-submit="" role="form" name="formEvent" novalidate>

                    <div class="input-group">
                        <h6 translate>EventUnlisted</h6>
                        <h7 translate>EventUnlistedInfo</h7>

                        <div class="input-group event-listed">
                            <input type="checkbox" ng-model="event.unlisted" ng-true-value="1" ng-false-value="0">
                            <p translate>Unlisted</p>
                        </div>

                    </div>

                </form>
            </div>

            <a class="more-less-btn" ng-show="isCollapsed" ng-click="isCollapsed = !isCollapsed"><span translate>MoreOptions</span><span class="glyphicon glyphicon-chevron-down"></span></a>
            <a class="more-less-btn" ng-show="!isCollapsed" ng-click="isCollapsed = !isCollapsed"><span translate>LessOptions</span><span class="glyphicon glyphicon-chevron-up"></span></a>
            <!-- /More Settings -->
        </div>
        <!-- /Event Content Left Sidebar Published -->

        <!-- Event Content Main -->
        <div class="col-md-9 col-sm-9 event-main">
            <!-- About Event -->
            <div class="input-group desc">
                <h5 translate>EventDescription</h5>
                <textarea ng-show="!event.active" tabindex="2" class="col-md-12 event-description" type="text" rows="10" ng-model="event.about" placeholder="{{'EventDescriptionInfo'|translate}}" class="form-control"></textarea>
                <div ng-show="event.active" class="col-md-12 event-description">{{event.about}}</div>
            </div>
            <!-- /About Event -->

            <div class="fat-line"></div>

            <!-- Photo Gallery -->
            <h6 translate>EventGallery</h6>
            <h7 translate>EventGalleryInfo</h7>
            <div class="photos" ng-repeat="(id,photo) in event.images">
                <img ng-src="{{photo.thumbnail}}" class="img-responsive">
                <div class="photos-info">
                    {{photo.title}}
                </div>
                <a class="glyphicon glyphicon-trash" href="" ng-click="deleteEventPhoto(photo)"></a>
            </div>

            <div class="input-group add-photos" ng-show="event.id">
                <a ng-show="event.id" ng-click="open('eventImages')" class="glyphicon glyphicon-plus" aria-hidden="true"></a>
            </div>

            <div class="fat-line"></div>

            <!-- Event Map -->
            <h6 translate>EventLocation</h6>
            <h7 translate>EventLocationInfo</h7>
            <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'>
                <ui-gmap-marker coords="marker.coords" options="map.marker.options" events="map.marker.events" idkey="2">
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <!-- /Event Map -->

            <div class="fat-line"></div>


            <!-- Event Adress -->
            <h6 translate>EventAdress</h6>
            <h7 translate>EventAdressInfo</h7>

            <div class="clearfix"></div>

            <div class="col-md-6 col-sm-6 adress-input">
                <div class="input-group form-group">
                    <input tabindex="3" type="text" ng-model="event.address" ng-init="event.address=event.address || user.address" placeholder="{{'Address'|translate}}" class="form-control">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 adress-input">
                <div class="input-group form-group">
                    <input tabindex="4" type="text" ng-model="event.city" ng-init="event.city=event.city || user.city" placeholder="{{'City'|translate}}" class="form-control">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 adress-input second-line">
                <div class="input-group form-group">
                    <input tabindex="5" type="text" ng-model="event.postal" ng-init="event.postal=event.postal || user.postal" placeholder="{{'Postal'|translate}}" class="form-control">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 adress-select">
                <div class="input-group form-group">
                    <div ng-controller="CountriesCtrl">
                        <select tabindex="6" class="form-control" ng-model="event.country" ng-options="country.id as country.name for country in countries" ng-change="" ng-init="event.country=event.country||user.country">
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 adress-input">
                <div class="input-group form-group">
                    <textarea tabindex="7" type="text" ng-model="event.hints" ng-init="event.hints=event.hints" placeholder="{{'Hints'|translate}}" class="form-control" />
                </div>
            </div>
            <!-- /Event Adress -->

            <div class="fat-line"></div>

            <!-- Bank Account Nr -->
            <div class="input-group form-group" ng-if="_payment">
                <h6 translate>BankAccountNr</h6>
                <h7 translate>BankAccountNrInfo</h7>
                <input tabindex="8" type="text" ng-model="user.payment" ng-init="" placeholder="{{'Payment details'|translate}}" class="form-control" ng-blur="saveProfile()">
            </div>
            <!-- /Bank Account Nr -->





            <!-- Save section -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Agreement -->
                    <div class="input-group form-group agreement" ng-if="!event.active">
                        <label>
                            <input type="checkbox" ng-model="host_agreement" ng-true-value="1" ng-false-value="0">
                            <h6 translate>HostAgreement</h6>
                        </label>
                    </div>
                    <!-- /Agreement -->

                    <div class="row">
                        <!-- Save -->
                        <div class="save-btns col-md-12 col-sm-12">
                            <input type="button" value="{{'Save'|translate}}" class="btn btn-primary save" ng-click="saveEvent(true)" />
                        </div>
                        <!-- /Save -->
                    </div>

                </div>
            </div>
            <!-- /Save section -->
        </div>
        <!-- /Event Content Main -->
    </div>